/* เปลี่ยนสีของปุ่ม Zoom In (+) */
.gm-style-mtc button[title="Zoom in"] {
    background-color: สีที่คุณต้องการ;
    /* เปลี่ยนสีของตัวอักษร (ไอคอน +) หรือข้อความตามที่คุณต้องการ */
    color: สีของตัวอักษร;
}

/* เปลี่ยนสีของปุม Zoom Out (-) */
.gm-style-mtc button[title="Zoom out"] {
    background-color: สีที่คุณต้องการ;
    /* เปลี่ยนสีของตัวอักษร (ไอคอน -) หรือข้อความตามที่คุณต้องการ */
    color: สีของตัวอักษร;
}