*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: black;
    padding: 30px;
    display: flex;
    justify-content: center;
}

nav a{
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
}